# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-selfcheck.json
pip-log.txt

# IDE / OS specific
.idea/
.vscode/
*.DS_Store
Thumbs.db

# Google Cloud SDK files
.gcloud/

# Node.js
backend/node_modules/

# Firestore
backend/config/serviceAccountKey.json